.modal-block {
  max-height: calc(100vh - 160px);
  overflow: auto;

  .modal-form {
    box-sizing: border-box;
    padding: 10px;

    input {
      width: auto;
    }

    .separator {
      border-bottom: 1px solid #acacac;
      margin: 15px 0 20px;
    }

    .submit-line {
      display: flex;
      justify-content: flex-end;
    }

    .line {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .price {
        width: 130px;
      }

      .name {
        width: 200px;
        box-sizing: border-box;
        padding: 10px;
        align-self: flex-start;
      }

      .title, .name {
        font-size: 12px;
        color: #5f5f5f;
      }

      .cell {
        flex: 1;
        padding-right: 40px;
        box-sizing: border-box;

        &.first {
          flex: none;
          width: 200px;
        }

        &.last {
          flex: 1;
          padding-right: 0;
          align-self: flex-start;
          justify-content: flex-end;
        }
      }

      .value {
        flex: 1;
        display: flex;

        .address {
          flex: 1;
        }

        .comment {
          flex: 1;
          min-height: 80px;
        }
      }

      .cell {
        flex: 1;

        .name {
          padding-left: 0px;
          padding-right: 0px;
        }

        &.flex {
          display: flex;

          .name {
            padding: 10px;
          }
        }
      }
    }
  }
}

.btn-recount {
  margin-right: 10px;
}
