.find-box {
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 7px 15px;
  color: #5a5959;
  margin-bottom: 10px;

  .name {
    margin-right: 50px;
  }

  .input {
    margin-bottom: 0;
    flex: 1;
  }
}
