<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">
        CRM<b>палаток</b>
      </a>
      <div class="nav-collapse collapse">
        <div class="nav pull-right">
          <app-user class="dropdown"></app-user>
        </div>
        <ul class="nav">
          <li class="active">
            <a href="/">Главная</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" *ngIf="showSidebar">
      <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">

        <!--li class="top" routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">
          <a>
            <i class="icon-chevron-right"></i>
            Главная
          </a>
        </li-->
        <!--li routerLink="/order/create" routerLinkActive="active">
          <a>
            <i class="icon-chevron-right"></i>
            Создание заказа
          </a>
        </li>
        <li routerLink="/order/give" routerLinkActive="active">
          <a>
            <i class="icon-chevron-right"></i>
            Выдача заказа
          </a>
        </li>
        <li routerLink="/order/return" routerLinkActive="active">
          <a>
            <i class="icon-chevron-right"></i>
            Возврат заказа
          </a>
        </li-->
        <li routerLink="/order/list" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a>
            <i class="icon-chevron-right"></i>
            Список заказов
          </a>
        </li>
        <li routerLink="/order/list/today" routerLinkActive="active">
          <a>
            <i class="icon-chevron-right"></i>
            Список активных заказов за сегодня
          </a>
        </li>
      </ul>
    </div>

    <!--/span-->
    <div [class.span10]="showSidebar"
         [class.span12]="!showSidebar">
      <div class="row-fluid">
        <!--div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Success</h4>
        The operation completed successfully
        </div-->

        <div class="navbar">
          <div class="navbar-inner">
            <div class="breadcrumb">
              <i class="icon-chevron-left hide-sidebar" (click)="showSidebar = false" *ngIf="showSidebar">
                <a title="Скрыть меню" rel='tooltip'>&nbsp;</a>
              </i>
              <i class="icon-chevron-right show-sidebar" (click)="showSidebar = true" *ngIf="!showSidebar">
                <a title="Открыть меню" rel='tooltip'>&nbsp;</a>
              </i>
              <span class="navBox">
                <!--include file='app:page/navi'-->
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="mainContent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <hr>
  <footer>
    <p>&copy; Админ палаток</p>
  </footer>
</div>

<app-user-auth></app-user-auth>

<app-spinner [show]="spinner.isShow"></app-spinner>
