<mat-card class="item" *ngFor="let item of list;" [routerLink]="'/cinema/' + item.imdbID">
  <img *ngIf="item.Poster" class="poster" src="{{ item.Poster }}"/>
  <div *ngIf="!item.Poster" class="placehoder poster">{{ getPlaceholder(item) }}</div>
  <div class="text">
    <div class="title">{{ item.Title }}</div>
    <div class="type">{{ item.Type }}</div>
    <div class="year">{{ item.Year }}</div>
  </div>
  <mat-icon class="delete-icon" (click)="deleteItem(item); $event.stopPropagation()" svgIcon="delete"></mat-icon>
</mat-card>
